@page "/"


<h1>Coffe</h1>

<AuthorizeView>
    <Authorized>
        Welcome to the coffee browser app.
    </Authorized>
    <NotAuthorized>
        Please log in
    </NotAuthorized>
</AuthorizeView>
